<mat-card *ngIf="logs?.length">
  <mat-card-header>
    <mat-card-title>Battle Logs</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="overflow-scroll">
      <mat-list>
        <mat-list-item *ngFor="let log of logs">
          <mat-icon mat-list-icon>info</mat-icon>
          <div mat-line>
            <span class="text-capitalize"><strong>{{ log.from }}</strong></span>
            <ng-container [ngSwitch]="log.actionType">
              <span *ngSwitchCase="SlayerActionType.ATTACK"> attacks and deals </span>
              <span *ngSwitchCase="SlayerActionType.HEAL"> heals himseslf for </span>
              <span *ngSwitchCase="SlayerActionType.SURRENDER"> surrenders...</span>
              <span *ngSwitchDefault>oups...</span>
            </ng-container>
            <span
              [ngClass]="['log-value', log.actionType]"
              *ngIf="log.actionType !== SlayerActionType.SURRENDER">
              {{ log.value || 'Max' }}
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
